.about-us {
  position: relative;
  overflow: hidden;
}

.side-nav {
  position: absolute;
  top: 145px;
  left: 13px;
}

.side-nav__img {
  width: 50px;
  height: 420px;
}

.about-us-info {
  position: absolute;
  width: 380px;
  margin: 153px 0 0 141px;
  z-index: 9;
}

.about-us-info__title {
  color: $dark-blue-color;
  margin-bottom: rem(20);
  visibility: hidden;
}

.about-us-info__txt {
  visibility: hidden;
}

.about-us-info__btn {
  font-family: $lbl;
  font-size: em(16);
  background-image: $gradient-orange-color;
  background-position: 100% 0;
  background-size: 200% 200%;
  line-height: 30px;
  border: none;
  border-radius: 30px;
  width: 190px;
  height: 45px;
  color: #fff;
  margin-top: rem(23);
  transition: background-position .5s ease;
  visibility: hidden;
  &:hover {
    background-position: 40% 0;
  }
  &:focus {
    background-position: 60% 0;
  }
}

.about-us-slider-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: rem(142);
  margin-bottom: rem(30);
  height: 464px;
}

.about-us-slider {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 854px;
}

.about-us-slide {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  visibility: hidden;
  animation-duration: 1.7s;
}

.about-us-slide-canada {
  visibility: visible;
}

.about-us-slide__img {
  position: absolute;
  bottom: 0;
  &:first-child {
    position: static;
    width: 1090px;
  }
}

/*-- Slide parts location --*/

// NY

.about-us-slide__ny-buildings {
  left: 282px;
  width: 714px;
  z-index: 2;
}

.about-us-slide__ny-ground {
  left: 31px;
  width: 995px;
  z-index: 1;
}

.about-us-slide__ny-clouds-sun {
  top: 64px;
  left: 390px;
  width: 340px;
}

// Canada 

.about-us-slide__canada-ground {
  width: 971px;
  left: 19px;
  bottom: -7px;
  z-index: 1;
}

.about-us-slide__canada-forest {
  left: 90px;
  bottom: 5px;
  width: 908px;
  z-index: 2;
}

.about-us-slide__canada-cloud-sun {
  top: 50px;
  left: 179px;
  width: 720px;
}

.about-us-slide__car {
  left: 267px;
  width: 232px;
  bottom: 8px;
  z-index: 4;
}

// Mexica

.about-us-slide__mexica-buildings {
  left: 62px;
  width: 947px;
  z-index: 2;
}

.about-us-slide__mexica-ground {
  width: 1081px;
  z-index: 1;
}

.about-us-slide__mexica-sun-clouds {
  top: 47px;
  left: 251px;
  width: 640px;
}

/*-- end --*/

.about-us-pagination {
  display: flex;
  padding: 0 rem(30); 
  box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.24);
}

.about-us-pagination__btn-down {
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: $gradient-blue-color;
  width: 30px;
  height: 30px;
  color: #fff;
  padding: 0;
  position: absolute;
  font-size: em(14);
  margin-top: rem(28);
}

.about-us-pagination__btn-icon {
  width: 12px;
}

.about-us-pagination-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 496px;
  margin: 0 auto;
  padding: rem(35) 0;
  position: relative;
}

.about-us-pagination-btns__btn {
  font-family: $lb;
  font-size: em(12);
  text-transform: uppercase;
  color: #9b9b9b;
  cursor: pointer;
}

.about-us-pagination-btns__mark {
  width: 40px;
  height: 16px;
  border: 2px solid #f7a03d;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background: #f7a03d;
  display: flex;
  position: absolute;
  bottom: -20px;
}

.about-us-pagination-btns__mark_america {
  left: 12px;
}

.about-us-pagination-btns__mark_canada {
  left: 283px;
}

.about-us-pagination-btns__mark_mexico {
  left: 546px;
}

.about-us-pagination-btns__btn_america-active {
  color: $dark-blue-color;
}

.about-us-pagination-btns__btn_canada-active {
  color: $dark-blue-color;
}

.about-us-pagination-btns__btn_mexico-active {
  color: $dark-blue-color;
}

.about-us__bg {
  position: absolute;
  right: -296px;
  top: -89px;
  z-index: -1;
}