// Styleguide styles

// Fonts & Text styles

h1 {
  font-family: $lb;
  font-size: em(70);
  line-height: 80px;
  letter-spacing: 0.025em;
}

h2 {
  font-family: $lb;
  font-size: em(60);
  line-height: 64px;
  letter-spacing: 0.025em;
}

h3 {
  font-family: $lb;
  font-size: em(50);
  line-height: 60px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h4 {
  font-family: $lb;
  font-size: em(40);
  line-height: 50px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h5 {
  font-family: $lm;
  font-size: em(11);
  line-height: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.txt {
  font-family: $lr;
  font-size: em(16);
  line-height: 30px;
  letter-spacing: 0.025em;
  margin-bottom: rem(16);
}

.txt_smaller {
  font-family: $lr;
  font-size: em(14);
  line-height: 24px;
  letter-spacing: 0.025em;
  margin-bottom: rem(16);
}