.icon-vintage-logo {
  width: 0.73em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-arrow {
  width: 0.94em;
  height: 1em;
  fill: #fff;
  stroke: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-facebook {
  width: 0.52em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-facebook_m {
  width: 0.52em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-linkedin_m {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-menu {
  width: 2em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-nav {
  width: 0.05em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-twitter {
  width: 1.24em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-twitter_m {
  width: 1.24em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-Vintage_logo {
  width: 0.73em;
  height: 1em;
  fill: #fff;
  stroke: initial;
}
.icon-bg_screen2 {
  width: 1.49em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-main {
  width: 3.42em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
