mixin footer()
  footer.footer
    .footer_desktop
      .footer-left
        .footer-logo
          include ../../svg/svg-icon/logo_footer.svg
        span.footer-left__txt 2017 Rainier
      .footer-middle
        nav.footer-nav
          ul.footer-nav-list
            li.footer-nav-list__item
              a.footer-nav-list__link(href="##") About us 
            li.footer-nav-list__item
              a.footer-nav-list__link(href="##") Services
            li.footer-nav-list__item
              a.footer-nav-list__link(href="##") Join us 
            li.footer-nav-list__item
              a.footer-nav-list__link(href="##") Contacts
            li.footer-nav-list__item
              a.footer-nav-list__link(href="##") Privacy Policy
        ul.footer-icon-list
          li.footer-icon-list__item_m  
            a(href="##")
              include ../../svg/svg-icon/linkedin.svg
          li.footer-icon-list__item_m 
            a(href="##")
              include ../../svg/svg-icon/facebook.svg
          li.footer-icon-list__item_m 
            a(href="##")
              include ../../svg/svg-icon/twitter.svg
      .footer-right
        button(type="button", class="footer-right__btn") Get in touch
        .footer-dev-link
          span.footer-dev-link__span by
          a(href="https://vintage.agency/", target="blank", class="footer-dev-link__link")
            include ../../svg/svg-icon/Vintage_logo.svg
    //- mobile footer
    .footer_m
      .footer-top
        .footer-logo.footer-logo_m
          include ../../svg/svg-icon/logo_footer.svg
        button(type="button", class="footer-right__btn footer-right__btn_m") Get in touch
      .footer-mid
        nav.footer-nav.footer-nav_m
          ul.footer-nav-list.footer-nav-list_m
            li.footer-nav-list__item
              a.footer-nav-list__link.footer-nav-list__link_m(href="##") About us 
            li.footer-nav-list__item
              a.footer-nav-list__link.footer-nav-list__link_m(href="##") Services
            li.footer-nav-list__item
              a.footer-nav-list__link.footer-nav-list__link_m(href="##") Join us 
            li.footer-nav-list__item
              a.footer-nav-list__link.footer-nav-list__link_m(href="##") Contacts
            li.footer-nav-list__item
              a.footer-nav-list__link.footer-nav-list__link_m(href="##") Privacy Policy
        ul.footer-icon-list
          li.footer-icon-list__item  
            a(href="##")
              include ../../svg/svg-icon/linkedin.svg
          li.footer-icon-list__item 
            a(href="##")
              include ../../svg/svg-icon/facebook.svg
          li.footer-icon-list__item 
            a(href="##")
              include ../../svg/svg-icon/twitter.svg
      .footer-bottom
        span.footer-left__txt 2017 Rainier
        .footer-dev-link.footer-dev-link_m
          span.footer-dev-link__span.footer-dev-link__span_m by
          a(href="https://vintage.agency/", target="blank", class="footer-dev-link__link")
            include ../../svg/svg-icon/Vintage_logo.svg