mixin header()
  header.header
    .header-left
      .logo
        include ../../svg/svg-icon/logo.svg
      button(type="button" class="header__menu-btn")
        include ../../svg/svg-icon/menu.svg
      .navigation
        nav.header-nav
          ul.header-nav-list
            li.header-nav-list__item
              a.header-nav-list__link(href="##") About us 
            li.header-nav-list__item
              a.header-nav-list__link(href="##") Services
            li.header-nav-list__item
              a.header-nav-list__link(href="##") Join us 
            li.header-nav-list__item
              a.header-nav-list__link(href="##") Contacts
            li.header-nav-list__item
              a.header-nav-list__link(href="##") Sign in
      .navigation_m
        .navigation-top_m
          include ../../svg/svg-icon/logo.svg
          button(type="button" class="navigation-top_m__close-btn")
            include ../../svg/svg-icon/close.svg
        nav.header-nav
          ul.header-nav-list.header-nav-list_m
            li.header-nav-list__item.header-nav-list__item_m
              a.header-nav-list__link.header-nav-list__link_m(href="##") About us 
            li.header-nav-list__item.header-nav-list__item_m
              a.header-nav-list__link.header-nav-list__link_m(href="##") Services
            li.header-nav-list__item.header-nav-list__item_m
              a.header-nav-list__link.header-nav-list__link_m(href="##") Join us 
            li.header-nav-list__item.header-nav-list__item_m
              a.header-nav-list__link.header-nav-list__link_m(href="##") Contacts
            li.header-nav-list__item.header-nav-list__item_m
              a.header-nav-list__link.header-nav-list__link_m(href="##") Sign in
        .navigation-soc-icons_m
          include ../../svg/svg-icon/linkedin_m.svg
          include ../../svg/svg-icon/facebook_m.svg
          include ../../svg/svg-icon/twitter_m.svg
        include ../../svg/illustartions/menu_popup.svg
    .header-right
      .quote-request
        span.quote-request__tel (617) 888-9692
        button(type='button', class='quote-request__btn') Request a quote
